## Creating Another Column From Age

In [3]:
data_frame['grow']=data_frame['age']
print(data_frame.head(4))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First

     who  adult_male deck  embark_town alive  alone  grow
0    man        True  NaN  Southampton    no  False  22.0
1  woman       False    C    Cherbourg   yes  False  38.0
2  woman       False  NaN  Southampton   yes   True  26.0
3  woman       False    C  Southampton   yes  False  35.0

## Dropping Columns Within Same Dataset

In [4]:
delete=data_frame.drop(columns=['sex'],inplace=False)
print(delete.head(4))

   survived  pclass   age  sibsp  parch     fare embarked  class    who  \
0         0       3  22.0      1      0   7.2500        S  Third    man
1         1       1  38.0      1      0  71.2833        C  First  woman
2         1       3  26.0      0      0   7.9250        S  Third  woman
3         1       1  35.0      1      0  53.1000        S  First  woman

   adult_male deck  embark_town alive  alone  grow
0        True  NaN  Southampton    no  False  22.0
1       False    C    Cherbourg   yes  False  38.0
2       False  NaN  Southampton   yes   True  26.0
3       False    C  Southampton   yes  False  35.0

In [5]:
delete.columns

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone',
       'grow'],
      dtype='object')

## Displaying 2 Columns

In [7]:
select=data_frame[['survived','grow']]
print(select.head(10))

   survived  grow
0         0  22.0
1         1  38.0
2         1  26.0
3         1  35.0
4         0  35.0
5         0   NaN
6         0  54.0
7         0   2.0
8         1  27.0
9         1  14.0